body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.menu {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu h1 {
    margin-bottom: 20px;
    color: #333;
}

.menu form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu input[type="file"] {
    margin-bottom: 20px;
}

.menu button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #0056b3;
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-switcher img {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.styled-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    display: block; /* Assure que le lien est un élément de bloc */
    margin-bottom: 15px; /* Ajout de marge inférieure */
}

.styled-link:hover {
    text-decoration: underline;
}